{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.instagram.com/yercken_30/"><img src="{% static 'images/instaGradientSolid.svg' %}" alt="..."></a></li>
        <li><a href="https://x.com/yercken30"><img src="{% static 'images/xGradientSolid.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/edwar-gonzalez-52416a259/"><img src="{% static 'images/linkedinGradientSolid.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://github.com/YERCKEN" target="_blank">YERCKEN</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->